n8n-workflows/WF0 — Upload Documento Base RAG.json
{
  "name": "WF0 — Upload Documento Base RAG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-base",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1248,
        112
      ],
      "id": "14f07dc5-c7b9-467f-af42-bef85d52074c",
      "name": "Webhook /upload-base",
      "webhookId": "upload-base"
    },
    {
      "parameters": {
        "jsCode": "const json = $input.first().json.body || {};\nconst binary = $input.first().binary;\n\nconst filename = json.filename;\nconst description = json.description || '';\n\nif (!filename) throw new Error('filename es requerido');\nif (!binary || Object.keys(binary).length === 0) {\n  throw new Error('No hay archivo binario adjunto');\n}\n\nconst binaryKey = Object.keys(binary)[0];\nconst binaryData = binary[binaryKey];\n\nconst ext = filename.split('.').pop().toLowerCase();\nconst mimeMap = {\n  'pdf':  'application/pdf',\n  'docx': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n  'doc':  'application/msword',\n  'xlsx': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n  'xls':  'application/vnd.ms-excel',\n  'csv':  'text/csv',\n  'txt':  'text/plain',\n  'json': 'application/json',\n  'md':   'text/markdown',\n  'html': 'text/html',\n  'pptx': 'application/vnd.openxmlformats-officedocument.presentationml.presentation'\n};\nconst mimetype = binaryData?.mimeType || mimeMap[ext] || 'application/octet-stream';\n\nreturn [{\n  json: {\n    filename: filename,\n    description: description,\n    mimetype: mimetype\n  },\n  binary: binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        112
      ],
      "id": "54c6bb16-abf6-457d-bc0c-10a00a4feed8",
      "name": "Extraer archivo"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT store_name FROM rag_stores WHERE store_type = 'base' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -800,
        112
      ],
      "id": "22820c8b-8a27-49fa-b39a-e334dfc67a82",
      "name": "Buscar store base (BD)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ApHxYg0HkRvwN2Sw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const storeResult = $('Buscar store base (BD)').first().json;\nconst fileData = $('Extraer archivo').first().json;\n\nconst existingStoreName = storeResult.store_name || null;\n\nreturn [{\n  json: {\n    filename: fileData.filename,\n    description: fileData.description,\n    mimetype: fileData.mimetype,\n    base_store_name: existingStoreName,\n    needs_new_store: existingStoreName === null\n  },\n  binary: $('Extraer archivo').first().binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        112
      ],
      "id": "a51d7878-1335-4fd5-acb1-901440aeca4c",
      "name": "¿Existe store base?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.needs_new_store }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -352,
        112
      ],
      "id": "aa8d126e-5eed-4219-bc5d-4a28c8343d55",
      "name": "¿Crear store base?"
    },
    {
      "parameters": {
        "resource": "fileSearch",
        "displayName": "rag-base-iia"
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        -128
      ],
      "id": "41baed88-f16f-47a7-9ece-84e279eecb1c",
      "name": "Crear store base en Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "goDwZHihUzS4gzPg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO rag_stores (id, store_name, store_type, description, file_count, session_id, created_at, updated_at)\nVALUES (\n  gen_random_uuid(),\n  '{{ $('Crear store base en Gemini').first().json.name }}',\n  'base',\n  'Repositorio centralizado - Normas IIA y documentación base',\n  0,\n  NULL,\n  NOW(),\n  NOW()\n)\nRETURNING store_name",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        80,
        -128
      ],
      "id": "40d00c82-aad5-4ba3-a9a3-a038e161e28e",
      "name": "Guardar store base en BD",
      "credentials": {
        "postgres": {
          "id": "ApHxYg0HkRvwN2Sw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let storeName;\nlet prev;\n\ntry {\n  storeName = $('Guardar store base en BD').first().json.store_name;\n  prev = $('¿Existe store base?').first();\n} catch(e) {\n  prev = $('¿Existe store base?').first();\n  storeName = prev.json.base_store_name;\n}\n\nreturn [{\n  json: {\n    filename: prev.json.filename,\n    description: prev.json.description,\n    mimetype: prev.json.mimetype,\n    store_name: storeName\n  },\n  binary: prev.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        128
      ],
      "id": "b28010d3-83bc-4fdd-9781-4eb129ab3bea",
      "name": "Combinar store + archivo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/{{ $json.store_name }}:uploadToFileSearchStore?uploadType=media&key=***REMOVED***",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        128
      ],
      "id": "6f7a676a-bc16-4d7b-bd8c-50b1bf9ec7e2",
      "name": "Subir archivo al store base"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE rag_stores\nSET\n  file_count = file_count + 1,\n  updated_at = NOW()\nWHERE store_name = '{{ $('Combinar store + archivo').first().json.store_name }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        752,
        128
      ],
      "id": "d15cd24e-b4a6-40b9-bf6d-1b259bf97b07",
      "name": "Actualizar BD",
      "credentials": {
        "postgres": {
          "id": "ApHxYg0HkRvwN2Sw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'indexed', filename: $('Combinar store + archivo').first().json.filename, store: $('Combinar store + archivo').first().json.store_name, description: $('Combinar store + archivo').first().json.description, gemini_resource_name: $('Subir archivo al store base').first().json.response.documentName }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        976,
        128
      ],
      "id": "7baa2ef6-c4e4-4a45-ab8c-e01e2deb66c2",
      "name": "Responder a FastAPI"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook /upload-base": {
      "main": [
        [
          {
            "node": "Extraer archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer archivo": {
      "main": [
        [
          {
            "node": "Buscar store base (BD)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar store base (BD)": {
      "main": [
        [
          {
            "node": "¿Existe store base?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe store base?": {
      "main": [
        [
          {
            "node": "¿Crear store base?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Crear store base?": {
      "main": [
        [
          {
            "node": "Crear store base en Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combinar store + archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear store base en Gemini": {
      "main": [
        [
          {
            "node": "Guardar store base en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar store base en BD": {
      "main": [
        [
          {
            "node": "Combinar store + archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar store + archivo": {
      "main": [
        [
          {
            "node": "Subir archivo al store base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir archivo al store base": {
      "main": [
        [
          {
            "node": "Actualizar BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar BD": {
      "main": [
        [
          {
            "node": "Responder a FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a40231d3-32f8-4a3c-9312-f2efe17a2ab6",
  "meta": {
    "instanceId": "7a3e76ad6e96c92b1ac5cd3dfd82c60ac641716dcb8755ec8b0013f615fcac80"
  },
  "id": "cfPvtlucjPeKVpgdlaYEY",
  "tags": []
}